$blue: #007CC7;
$light-blue: #4DA8DA;
$white: white;
$purple: #8227fa;
$light-purple: #ba8fff;

$font-family: "Montserrat", sans-serif;

.data-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    
    .data-container {
        width: 50%;
        font-family: $font-family;

        &:not(:first-child) {
            margin-top: 20px;
        }

        & > span {
            margin-right: 8px;
        }

        .data-pos {
            color: $light-blue;
            font-size: 48px;
            font-weight: 100;
        }
        
        .data-pronunciation {
            color: $blue;
            font-size: 30px;
            font-weight: 700;
        }

        .data-definition {
            color: $white;
            font-size: 18px;
            font-weight: 400;
        }
        
        .data-helper-text {
            color: $white;
            font-size: 30px;
            font-weight: 100;
        }

        .data-suggestion {
            color: $light-blue;
            font-size: 18px;
            font-weight: 400;
            display: inline-block;
            cursor: pointer;
            transition: color .5s;
            
            &:hover {
                color: $white;
            }
        }

        .data-synonym-text {
            color: $purple;
            font-size: 40px;
            font-weight: 700;
        }

        .data-synonym {
            font-size: 18px;
            font-weight: 400;
            display: inline-block;
            cursor: pointer;
            transition: color .5s;

            &:nth-child(odd) {
                color: $white;
            }

            &:nth-child(even) {
                color: $light-purple
            }

            &:hover {
                color: $purple;
            }
        }
    }
}